@font-face {
    font-family: museosans;
    src: url(/fonts/museosans500.woff2) format('woff2');
}

@font-face {
    font-family: museosansitalic;
    src: url(/fonts/museosans500italic.woff2) format('woff2');
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

body {
    background-color: ghostwhite;
}

input {
    width: 60%;
    height: 60px;
}

.sitefont {
    font-family: museosans, sans-serif;
}

.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.navitem {
    color: white;
    background-color: transparent;
    font-size: 18px;
    display: inline-block;
    box-sizing: border-box;
    padding: 14px 20px;
}

    .navitem:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

.container-fluid {
    white-space: nowrap;
}

.navbar-prof-img {
    width: 50px;
    height: auto;
}

.nav-go {
    margin-top: 10px;
    height: 50px;
    width: auto;
}

.navbar-logo {
    width: 400px;
    height: auto;
}

.input-group {
    display: inline;
}

#pagebody {
    padding-bottom: 300px;
}

#pagecontents {
    position: relative;
}

#banner {
    position: relative;
}

.banner-title {
    position: absolute;
    top: 8%;
    left: 8%;
    font-size: 56px;
}

.banner-info {
    position: absolute;
    top: 16%;
    left: 8%;
    font-size: 32px;
}

.banner-btn {
    position: absolute;
    top: 30%;
    left: 8%;
    font-size: 50px;
}

#container {
    position: relative;
    padding: 5px;
}

#footer {
    height: 300px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: darkgrey;
    color: black;
}

.footer-logo {
    width: 300px;
    height: auto;
    display: inline-block;
    left: 200px;
}

.collection-cards-row {
    column-count: 3;
}

#sitelinks {
    column-count: 4;
}

.col-sm-4 {
    display: inline-block;
    padding: 4px;
}

.col-md-3 {
    display: inline-block;
    padding: 30px;
}
