@font-face
{
    font-family: museosans;
    src: url(../fonts/museosans500.woff2) format('woff2');
}

@font-face {
    font-family: museosansitalic;
    src: url(../fonts//museosans500italic.woff2) format('woff2');
}

body
{
    background-color: ghostwhite;
}

.sitefont
{
    font-family: museosans, sans-serif;
}

