@page
@using Microsoft.AspNetCore.Identity
@using ECommerceSite
@using ECommerceSite.Data
@namespace ECommerceSite.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ECommerceSite.Pages.ProductPage.ShopModel //How razor knows to use ShopModel model

<!DOCTYPE html>
<html>
<head>
    <title>Shop</title>
    <!-- Add stylesheets or scripts -->
</head>
<body>
    <h1>Welcome to the Shop</h1>

    <!-- HTML content -->
    <!-- You can use @Model to access data from ShopModel -->

</body>
</html>