<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page | Welcome To Group4</title>
</head>
<body id="page-top">

    <!-- NAVBAR -->
    <nav id="navbar" class="navbar navbar-inverse navbar-blue navbar-static-top">
        <div class="container-fluid">
            <!-- NAVBAR BRAND -->
            <a href="/" class="navbar-brand">
                <img src="../wwwroot/img/logoWhiteBG.png" alt="Group4 Logo" class="navbar-logo" />
            </a>
            <!-- SITE SEARCH -->
            <form id="nav-search" class="input-group" role="search" onsubmit="return submitFunction();">
                <input type="text" id="nav-search-input" class="form-control" placeholder="What are you looking for?" />
                <span class="input-group-btn">
                    <button id="nav-search-submit" class="btn btn-default btn-submit" type="submit"><img src="../wwwroot/img/goIcon.png" alt="goButton" /></button>
                </span>
            </form>
            <!-- ACCOUNT LINKS -->
            <div id="nav-profileMain" class="nav navbar-nav">
                <button type="button" class="navbar-profile">
                    <img src="../wwwroot/img/profileIcon.png" alt="My Profile" />
                </button>
            </div>
            <div id="nav-shoppingCart" class="nav navbar-nav">
                <button type="button" class="navbar-cart">
                    <img src="../wwwroot/img/cartIcon.png" alt="Shopping Cart" />
                </button>
            </div>
            <ul id="nav-accountLinks" class="nav navbar-nav">
                <li id="nav-userProfile" class="dropdown">
                    <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="../wwwroot/img/menuIcon.png" alt="Account Links" /></a>
                    <ul id="nav-userMenu" class="dropdown-menu">
                        <li><a href="../wwwroot/img/goIcon.png">&nbsp;&nbsp;Your Account</a></li>
                        <li><a href="../wwwroot/img/goIcon.png">&nbsp;&nbsp;Shopping Cart</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="../wwwroot/img/goIcon.png">&nbsp;&nbsp;Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav><!-- end of NAVBAR -->

    <!-- PAGEBODY -->
    <div id="pagebody">
        <div id="pagecontents">
            <!-- MAIN BANNER -->
            <div id="banner" class="section">
                <div class="container">
                    <div class="banner-bg">
                        <div class="col-md-6 col-xs-12 text-col vcenter">
                            <h1 class="banner-title">"Autumn&#39;s&nbsp;here."</h1>
                            <p class="info info-lg banner-info">"Save 30% on select seasonal collections."</p>
                            <div class="btn-row">
                                <a href="../wwwroot/img/goIcon.png" class="btn btn-blk btn-margin-0">"Go"</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- COLLECTION CARDS -->
            <div id="collection-cards" class="sec-x1">
                <div class="container">
                    <div class="collection-cards-row">
                        <div class="col-sm-4 col-xs-12">
                            <div class="collection-card-1">
                                <h4>New Fall Styles</h4>
                                <img src="../wwwroot/img/goIcon.png" alt="New Fall Styles" />
                                <div class="btn-row">
                                    <a href="../wwwroot/img/goIcon.png" class="btn btn-blk btn-margin-0">"Go"</a>
                                </div>
                            </div>
                            <div class="collection-card-2">
                                <h4>New Fall Styles</h4>
                                <img src="../wwwroot/img/goIcon.png" alt="Halloween Flair" />
                                <div class="btn-row">
                                    <a href="../wwwroot/img/goIcon.png" class="btn btn-blk btn-margin-0">"Go"</a>
                                </div>
                            </div>
                            <div class="collection-card-3">
                                <h4>New Fall Styles</h4>
                                <img src="../wwwroot/img/goIcon.png" alt="Summer Sales" />
                                <div class="btn-row">
                                    <a href="../wwwroot/img/goIcon.png" class="btn btn-blk btn-margin-0">"Go"</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SEPARATOR -->
            <!-- DISCOVER SECTION -->
        </div>
    </div>
    <!-- END OF PAGEBODY -->

    <!-- FOOTER -->
    <footer id="footer" class="footer-blue">
        <div class="container">
            <!-- SITELINKS -->
            <div id="sitelinks" class="clearfix">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <ul class="list-unstyled">
                        <li><a href="../wwwroot/img/goIcon.png">About</a></li>
                        <li><a href="../wwwroot/img/goIcon.png">Contact&nbsp;Us</a></li>
                        <li><a href="../wwwroot/img/goIcon.png">Careers</a></li>
                        <li><a href="../wwwroot/img/goIcon.png">Help</a></li>
                        <li><a href="../wwwroot/img/goIcon.png">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <ul class="list-unstyled">
                        <li><a href="../wwwroot/img/goIcon.png">Enterprising</a></li>
                        <li><a href="../wwwroot/img/goIcon.png">Store&nbsp;Finder</a></li>
                        <li><a href="../wwwroot/img/goIcon.png">Official&nbsp;Partners</a></li>
                        <li><a href="../wwwroot/img/goIcon.png">Warehousing</a></li>
                    </ul>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <ul class="list-unstyled">
                        <li><a href="../wwwroot/img/goIcon.png">Customer&nbsp;Service</a></li>
                        <li><a href="../wwwroot/img/goIcon.png">My&nbsp;Orders</a></li>
                        <li><a href="../wwwroot/img/goIcon.png">Return&nbsp;Policy</a></li>
                        <li><a href="../wwwroot/img/goIcon.png">Warranties</a></li>
                        <li><a href="../wwwroot/img/goIcon.png">Feedback</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <ul class="list-unstyled">
                        <li><a href="../wwwroot/img/goIcon.png">Privacy&nbsp;Policy</a></li>
                        <li><a href="../wwwroot/img/goIcon.png">Terms &amp; Conditions</a></li>
                        <li><a href="../wwwroot/img/goIcon.png">Product&nbsp;Registration</a></li>
                        <li><a href="../wwwroot/img/goIcon.png">Security</a></li>
                    </ul>
                </div>
                <div class="clearfix visible-sm-block"></div>
            </div>
            <!-- LOGO -->
            <div id="logo-col" class="col-xs-12">
                <a href="/">
                    <img src="../wwwroot/img/logoTransparent.png" alt="Group4 Logo" class="footer-logo" />
                </a>
            </div>
        </div>
    </footer><!-- end of FOOTER -->
</body>
</html>