@page
@model ECommerceSite.Pages.NewFallStylesModel

<!DOCTYPE html>

<html lang="en">

<head>

    <title>Summer Sales Collection | Group4</title>

    <link rel="stylesheet" href="/css/index.css" />
    <style>
        .collection-cards-row {
            display: flex;
            flex-direction: column; /* Stack items vertically */
            align-items: center; /* Centers items horizontally */
            width: 80%;
        }

        .product {
            text-align: center; /* Center content inside each product */
            margin-bottom: 20px; /* Add some space between the products */
        }
    </style>


</head>

<body id="page-top">


    <div id="wrapper">
        <!-- NAVBAR -->
        <nav id="navbar" class="navbar">
            <div class="container-fluid">
                <!-- NAVBAR BRAND -->
                <a href="/Index" class="navbar-brand navitem">
                    <img src="/img/logoWhiteBG.png" alt="Group4 Logo" class="navbar-logo" />
                </a>
                <!-- SITE SEARCH -->
@*                 <div id="nav-search" class="input-group navitem" role="search" onsubmit="return submitfunction();">
                    <input type="text" id="nav-search-input" class="form-control sitefont" placeholder="what are you looking for?" />
                    <span class="input-group-btn">
                        <button id="nav-search-submit" class="btn btn-default btn-submit" type="submit"><img src="/img/goicon.png" class="nav-go" alt="search" /></button>
                    </span>
                </div> *@
                <!-- ACCOUNT LINKS -->
                <div id="nav-profileMain" class="navitem">
                    <a href="/User">
                        <button type="button" class="navbar-profile">
                            <img src="/img/profileIcon.png" alt="My Profile" class="navbar-prof-img" />
                        </button>
                    </a>
                </div>
                <div id="nav-shoppingCart" class="navitem">
                    <a href="/CartPages/ShoppingCart">
                        <button type="button" class="navbar-cart">
                            <img src="/img/cartIcon.png" alt="Shopping Cart" class="navbar-prof-img" />
                        </button>
                    </a>
                </div>
                <ul id="nav-accountLinks" class="navitem">
                    <li id="nav-userProfile" class="dropdown">
                        <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="/img/menuIcon.png" alt="Account Links" class="navbar-prof-img" /></a>
                        <ul id="nav-userMenu" class="dropdown-menu">
                            <li><a href="/img/goIcon.png" class="sitefont">&nbsp;&nbsp;Your Account</a></li>
                            <li><a href="/img/goIcon.png" class="sitefont">&nbsp;&nbsp;Shopping Cart</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/img/goIcon.png" class="sitefont">&nbsp;&nbsp;Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav><!-- end of NAVBAR -->
        <!-- PAGEBODY -->
        <div id="pagebody">
            <div id="pagecontents">
                <!-- Back Button -->
                <div class="back-button">
                    <a href="Home/Index" class="btn btn-primary">Back to Home</a>
                </div>
                <!-- COLLECTION CARDS -->
                <div id="collection-cards" class="sec-x1">
                    <div class="container">
                        <div class="collection-cards-row sitefont">
                            <div class="product">
                                <img src="/img/SummerChair1.png" alt="Chair" />
                                <h4>Chair</h4>
                                <div class="btn-row">
                                    <form method="post" asp-page-handler="OrderChair">
                                        <button type="submit" class="btn btn-primary">Order Chair</button>
                                    </form>
                                </div>
                            </div>
                            <div class="product">
                                <img src="/img/SummerTable1.png" alt="Table" />
                                <h4>Table</h4>
                                <div class="btn-row">
                                    <form method="post" asp-page-handler="OrderTable">
                                        <button type="submit" class="btn btn-primary">Order Table</button>
                                    </form>
                                </div>
                            </div>
                            <div class="product">
                                <img src="/img/SummerBed1.png" alt="Bed" />
                                <h4>Bed</h4>
                                <div class="btn-row">
                                    <form method="post" asp-page-handler="OrderBed">
                                        <button type="submit" class="btn btn-primary">Order Bed</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END OF COLLECTION CARDS -->
            </div>
        </div>
        <!-- END OF PAGEBODY -->
        <!-- FOOTER -->
        <footer id="footer" class="footer-blue">
            <div class="container">
                <!-- LOGO -->
                <div id="logo-col" class="col-xs-12">
                    <a href="/Index">
                        <img src="/img/logoTransparent.png" alt="Group4 Logo" class="footer-logo" />
                    </a>
                </div>
                <!-- SITELINKS -->
                <div id="sitelinks" class="sitefont footer-cols">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <ul class="list-unstyled">
                            <li><a href="/img/goIcon.png">About</a></li>
                            <li><a href="/img/goIcon.png">Contact&nbsp;Us</a></li>
                            <li><a href="/img/goIcon.png">Careers</a></li>
                            <li><a href="/img/goIcon.png">Help</a></li>
                            <li><a href="/img/goIcon.png">FAQ</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <ul class="list-unstyled">
                            <li><a href="/img/goIcon.png">Enterprising</a></li>
                            <li><a href="/img/goIcon.png">Store&nbsp;Finder</a></li>
                            <li><a href="/img/goIcon.png">Official&nbsp;Partners</a></li>
                            <li><a href="/img/goIcon.png">Warehousing</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <ul class="list-unstyled">
                            <li><a href="/img/goIcon.png">Customer&nbsp;Service</a></li>
                            <li><a href="/img/goIcon.png">My&nbsp;Orders</a></li>
                            <li><a href="/img/goIcon.png">Return&nbsp;Policy</a></li>
                            <li><a href="/img/goIcon.png">Warranties</a></li>
                            <li><a href="/img/goIcon.png">Feedback</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <ul class="list-unstyled">
                            <li><a href="/img/goIcon.png">Privacy&nbsp;Policy</a></li>
                            <li><a href="/img/goIcon.png">Terms &amp; Conditions</a></li>
                            <li><a href="/img/goIcon.png">Product&nbsp;Registration</a></li>
                            <li><a href="/img/goIcon.png">Security</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer><!-- end of FOOTER -->
    </div>
</body>
</html>