@page
@model ECommerceSite.Pages.SummerSalesModel
@{
    ViewData["Title"] = "Summer Sales";
}

<h2>@ViewData["Title"]</h2>

<!-- page content goes here -->
<div>
    <button onclick="location.href='/ShoppingCart/'">Order Now</button>
</div>